<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Palindrome Results</h2>

    <p>Is "<%= @x %>" a palindrome?</p>
    <p><%= if @y do "It is!" else "It's not..." end %></p>
  </div>
</div>
